body {
  width: 90%;
  margin: auto;
  background-color: rgb(49, 46, 42);
}
.containerCard {
  display: inline-block;
  margin-top: 30px;
  margin-left: 38px;
  width: 250px;
  height: 420px;
  border-style: solid;
  background-color: rgb(211, 132, 14);
  box-shadow: 0 5px 10px #c1c3c736;
}
.containerCard .image {
  width: 250px;
  height: 300px;
}
.containerCard h1,
p {
  text-align: center;
  font-style: italic;
  font-family:fantasy;
  line-height: 20px;
}
h1{
  color:#19345e;
}
